.cards {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  transform: perspective(500px) rotateX(calc((var(--mouse-y) - 0.5) * 5deg)) rotateY(calc((var(--mouse-x) - 0.5) * 5deg));
}

.card {
  background-color: var(--card-bg-color, #e0e0e0);
  border-radius: 6px;
  padding: 15px;
  margin: 15px;
  flex-basis: calc(25% - 30px);
  flex-grow: 0;
  filter: brightness(calc(1 - (var(--mouse-x) - 0.5)/3 + (var(--mouse-y) - 0.5)/3 ));

  .title {
    color: var(--card-title-color, #222222);
    margin-top: 0;
    margin-bottom: 5px;
  }

  .tag {
    color: var(--card-tag-color, #ffffff);
    background: var(--card-tag-bg-color, #666666);
    border-radius: 5px;
    padding: 3px 5px 1px;
    display: inline-block;
    margin-bottom: 15px;
    @include rem-typo(16);
  }

  p {
    color: var(--card-text-color, #222222);
  }
}
