.is-grey-bg {
    background-color: $c-gris-pale;
    position: relative;
    &:before {
        content: '';
        width: 100vw;
        z-index: -1;
        background-color: $c-gris-pale;
        height: 100%;
        @include absolute-center;
    }
}

.is-blue-bg {
    background-color: $c-bleu-foncee;
}

.is-bold {
    font-weight: 700;
}

.new-line {
    display: block;
}
