{% extends "../layouts/single-column.twig" %}

{% set title = "T-rex template JS" %}
{% set class = "" %}

{% block content %}
	<div class="l-page-wrapper">
    <header class="main-header">
      <h1>Tests de de CSSVar</h1>
      <div class="switcher-wrapper">
        <input type="checkbox" name="switcher" class="switcher" />
        <label for="switcher" class="switcher-label">Thème</label>
      </div>
    </header>
		<div class="cards">
      {% for i in 0..10 %}
        {% if (i == 3) or (i == 5) or (i == 7) %}
        <div class="card is-news">
        {% else %}
        <div class="card">
        {% endif %}
        <h3 class="title">Lorem Ipsum Title</h3>
        <span class="tag">Test</span>
        <p>Nullam hendrerit efficitur diam sed ornare. Suspendisse tincidunt purus eu dui lacinia, in ultrices nunc posuere. </p>
      </div>
      {% endfor %}
    </div>
	</div>
{% endblock %}
